## Задания по семинару 2

В ячеке под заданием приведите его решение. Для заданий, рассмотренных на семинаре, можете использовать решение полученное на занятии.

-----

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

In [1]:
str = '''It's "quoted string"'''
print(str)

It's "quoted string"

In [2]:
print('''It's "quoted string"''')

It's "quoted string"

In [4]:
str = input()

It's "quoted string"

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1

line2

line3

In [11]:
str = ' line1 \n\n line2 \n\n line3'
print(str)

 line1

 line2

 line3

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\

\\\

\\

\

SyntaxError: EOL while scanning string literal (<ipython-input-37-6136e8b898ee>, line 1)

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [15]:
str = 'Hello world'
print(str[4])
print(str[-5])

o
w

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [16]:
str = 'Hello world'
print(str[6])
print(str[-5])

w
w

6) Вывести символ, находящийся в середине заранее неизвестной строки, полученной с помощью функции input().

Пример использования функции input:

In [ ]:
str = input()

In [3]:
st = input()

if len(st) % 2:
    print(st[(len(st) - 1) // 2])
else:
    print('The string is invalid!')

fdgb
The string is invalid!

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [5]:
line = 'Light ray'
line[:4:]
line[:4:1]

'Ligh'

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [7]:
line = 'My new text'
line[3:7:]

'new '

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [8]:
line = 'Light ray'
line[-4:]

' ray'

10) Составить строку из всех четных символов строки 'Light ray'.

In [9]:
line = 'Light ray'
line[1::2]

'ih a'

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [10]:
line = 'Light ray'
line[::2]

'Lgtry'

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [19]:
line = 'Light ray'

line[-1::-1]

'yar thgiL'

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [22]:
line = input()
line[2:-1:]

ghweirgiwjg

'weirgiwj'

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [28]:
line = input()
if not len(line) % 4:
    print(line[len(line) // 4: len(line) - (len(line) // 4):])
else:
    print('Line is invalid!')

cvbn
vb

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

In [ ]:
line1 = input()
line2 = line1[-1::-1]

'eno' in line2

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символа строки.

In [11]:
stroka = 'Light ray'
new_stroka = stroka[len(stroka) - 3::] + stroka[:4:]
print(new_stroka)

rayLigh

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [13]:
stroka = 6 * 'one' + 3 * 'two'

18) Разбить строку на список из строк, состоящих только из названий чисел.

In [14]:
st = '  one,two,three,four,five,six,seven,eight,nine,ten   '
st.strip()
print(st)

  one,two,three,four,five,six,seven,eight,nine,ten

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной.

Ожидаемый результат:

H->e->l->l->o-> ->w->o->r->l->d

In [1]:
str = 'Hello world'

for i in str:
    print(i, end = "->")

H->e->l->l->o-> ->w->o->r->l->d->

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов.

Например, для двух строк

In [3]:
st1 = '  HeLLO WOrlD'

In [ ]:
st2 = 'hello WORLD  '

In [6]:
st1 = input()
st2 = input()
st1.replace(' ', '')
st2.replace(' ', '')
st1.lower()
st2.lower()

print(st1 == st2)

  HeLLO WOrlD
hello WORLD
False

такое сравнение должно возвращать True (содержание строк совпадает).

21) В строке 'hello hello Hello hello' найти индекс второго вхождения подстроки 'hel'

In [51]:
strk = 'hello hello Hello hello'

k = strk.find('hel')
l = strk.find('hel', k + 1)

print(l)

6

22) В строке 'hello hello Hello hello' найти индекс второго С КОНЦА вхождения подстроки 'hel'

In [55]:
strk1 = 'hello hello Hello hello'
strk2 = strk1[-1::-1]

k = strk2.find('leh')
l = strk2.find('leh', k + 1)

print(l)

14

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on'. Протестировать на строке

In [39]:
str = '    start hello python world'

m = str.find('he')
n = str.find('on')

print(str[m:n+2])

hello python

    start hello python world

24) Используя цикл for и функцию enumerate() (см. лекцию 2) вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету

Пример.

Исходная строка:

hello hello Hello hello

выведено на экран:

hello1hello2Hello3hello4

In [1]:
stroka = input()
k = 1
for ind, symb in enumerate(stroka):
    if(symb == " "):
        print(k, end = "")
        k += 1
    elif(ind == len(stroka) - 1):
        print(symb + str(k))
    else:
        print(symb, end = "")

hello hello Hello hello
hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова

format('val1', 'val2', 'val3')

In [15]:
"{2}-{1}-{0}-{1}-{2}".format('val1', 'val2', 'val3')

'val3-val2-val1-val2-val3'

будет возрващать следующий результат:

val3-val2-val1-val2-val3

26) Сформировать строку форматирования fs, которая при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [85]:
print('0123456789' * 4)
fs = "|{line: > 4} | {1:#>8.2f}| {0:=8,d} | {2:0^8b} |" # задайте тут свою строку форматирования
print(fs.format(453, 59.058, 1, line=1))
print(fs.format(123453, 159.0, 7, line=5))
print(fs.format(-12, -159.099, 16, line=15))
print(fs.format(1200, -1059.099, 255, line=105))

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00010000 |
|   5 | ##159.00|  123,453 | 00111000 |
|  15 | #-159.10| -     12 | 01000000 |
| 105 | -1059.10|    1,200 | 11111111 |

In [6]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |